@import url('https://fonts.googleapis.com/css?family=Raleway:400,500%7CRoboto:400,900');
@import "normalize";
@import "layout";
@import "slick";


$primary-color:#ffcc00;
$text-color:#333333;
$light-gray:#898f8f;
$dark-gray:#666;

$base-font-family:'Raleway',
sans-serif;
$header-font-family:'Roboto',
sans-serif;

body {
	font: 400 16px/1.5 $base-font-family;
	color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	font-family: $header-font-family;
	font-weight: 900;
}

/* Layout */
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

.ba-section {
	padding: 100px 0;

}

.ba-section-title {
	text-align: center;
	color: $primary-color;
	text-transform: uppercase;
	font-size: 60px;
	line-height: 1;
	position: relative;
	margin-bottom: 44px;

	&::after {
		content: '';
		display: block;
		height: 1px;
		max-width: 400px;
		background-color: $primary-color;
		margin: 45px auto 0;
	}

	&__icon {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 50%);
		fill: $primary-color;
		padding: 0 7px;
		box-sizing: content-box;
		background-color: #fff;
	}
}

.ba-section-suptitle {
	text-align: center;
}

.ba-crewman {
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
		display:block;
	}

	&__col-img {
		flex-basis: 50%;
		padding: 10px 84px 10px 46px;
		display: flex;
		justify-content: center;
		overflow: hidden;
		@media (max-width: 768px) {
			padding: 20px;
		}
		img {
			border: 1px solid $primary-color;
			display: block;
			position: relative;
			z-index: 1;
		}
	}

	&__img-wrap {
		border: 1px solid $primary-color;
		padding: 10px;
		position: relative;

		&::before {
			z-index: 0;
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			background: #fff;
			transform: rotate(45deg);
		}
	}

	&__col-info {
		flex-basis: 50%;
		padding: 90px 46px 90px 84px;
		text-align: center;
		border-left: 1px solid $primary-color;

		@media (max-width: 768px) {
			border: none;
			padding: 30px;
			border-top: 1px solid $primary-color;
			margin-top: 30px;
		}

		&__name h3 {
			font-family: $header-font-family;
			font-weight: 900;
			font-size: 36px;
		}

		&__position {}
	}
}

.slick-dots{
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	button{
		font-size: 0;
		width: 15px;
		height: 15px;
		border: 1px solid #ffcc00;
		background: #ffcc00;
		border-radius: 50%;
	}
	li + li{
		margin-left: 10px;
	}
}
.slick-active{
	button{
		border: 1px solid #ffcc00;
		background: #fff;
	}
}

.slick-prev,
.slick-next{
	width: 40px;
	height: 40px;
	position: absolute;
	padding: 0;
	top: 50%;
	font-size: 0;
	border: none;
	color: #fff;
	z-index: 1;
	outline: none;
}

.slick-prev{
	right: 0px;
	background: url(../img/icons8right.png);
	background-size: cover;
}
.slick-next{
	left: 0;
	background: url(../img/icons8left.png);
	background-size: cover;
}
